{% extends 'base_front.html.twig' %}

{% block container %}

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="{{ path('discutea_forum_homepage') }}">Partie Forum</a>
            </div>
            <div id="navbar" class="navbar-brand absolute">
                <ul class="navbar-brand absolute">
                    <li><a href="{{ path('discutea_forum_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('discutea_forum_admin_dashboard') }}">Admin</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">

            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">{{ flash }}</div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </div>
    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>

{% endblock %}