{% extends 'base.html.twig' %}

{% block container %}
<div class="form-panel">
    <br>
    <br>
    <br>
    <center>
    <h1>Modifier un besoin</h1>

        <br>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br>
        <input class= "btn btn-round btn-warning" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

       <br>
        {{ form_start(delete_form) }}
        <button class="btn btn-round btn-danger" type="submit" > <i class="fa fa-trash-o"></i>supprimer</button>
        {{ form_end(delete_form) }}
<br>
        <a class="btn btn-round btn-info"  href="{{ path('besoins_index') }}"><i class="fa fa-chevron-circle-left"></i> liste besoins</a>
    </div>
        <br>
        <br>


    </center>
{% endblock %}
